In [1]:
#Import Dependencies
import csv, sqlite3
import pandas as pd

In [2]:
#DATABASE name
database = '../db_testing/project3db.sqlite'

In [3]:
db = sqlite3.connect(database)
cursor = db.cursor()
res = cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
for name in res:
    print (name[0])
db.close()

Alc_test1
sqlite_sequence
HA_test_phone1
HA_test_watch1

In [4]:
#connect to the database
db = sqlite3.connect(database)

query = "SELECT * FROM HA_test_watch1;"
df = pd.read_sql_query(query,db)
db.close()
df.head()

   rec_id          x         y         z    Status
0       1  15.104721 -2.221954  0.375290      walk
1       2   1.436630 -7.858673  6.007248       sit
2       3 -13.764420 -4.878449  0.860886      walk
3       4  -5.383392 -8.617569  1.695801      bike
4       5  -7.185074 -4.952240  2.312912  stairsup

In [5]:
y_test = df["Status"]
y_test

0            walk
1             sit
2            walk
3            bike
4        stairsup
5            walk
6            bike
7      stairsdown
8            walk
9             sit
10          stand
11            sit
12            sit
13     stairsdown
14           bike
15     stairsdown
16           walk
17            sit
18            sit
19          stand
20            sit
21           bike
22       stairsup
23          stand
24           bike
25           bike
26           walk
27     stairsdown
28           bike
29          stand
          ...
970      stairsup
971          walk
972          walk
973         stand
974    stairsdown
975    stairsdown
976         stand
977          walk
978    stairsdown
979          walk
980          walk
981    stairsdown
982    stairsdown
983      stairsup
984         stand
985          walk
986    stairsdown
987          walk
988          bike
989    stairsdown
990    stairsdown
991      stairsup
992          bike
993          walk
994      stairsup
995          bike
996         stand
997         stand
998      stairsup
999           sit
Name: Status, Length: 1000, dtype: object

In [6]:
X_test = df.iloc[:,1:4]
X_test.head()

           x         y         z
0  15.104721 -2.221954  0.375290
1   1.436630 -7.858673  6.007248
2 -13.764420 -4.878449  0.860886
3  -5.383392 -8.617569  1.695801
4  -7.185074 -4.952240  2.312912

In [8]:
#Load the Scaled function for LR model
from sklearn.externals.joblib import dump, load
X_scaler = load('HAW_scaler.bin')

In [9]:
#Scales X_test data
X_test_scaled = X_scaler.transform(X_test)

In [10]:
#Load Label Encoder
label_encoder = load('HAW_label_encoder.bin')

In [11]:
from keras.utils import to_categorical
encoded_y_test = label_encoder.transform(y_test)
y_test_categorical = to_categorical(encoded_y_test)

Using TensorFlow backend.

In [12]:
import numpy as np
X_test_scaled = np.reshape(X_test_scaled, (X_test_scaled.shape[0],1,X_test_scaled.shape[1]))
X_test_scaled = np.array(X_test_scaled)

In [13]:
#Import a model (NN)
from keras.models import load_model
modeln1 = "HA_RNN1_WatchT1.h5"
model = load_model(modeln1)

WARNING:tensorflow:From C:\Users\asi40\.conda\envs\PythonData\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
WARNING:tensorflow:From C:\Users\asi40\.conda\envs\PythonData\lib\site-packages\keras\backend\tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

In [14]:
model_loss, model_accuracy = model.evaluate(X_test_scaled, y_test_categorical, verbose=2)
print(f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

Normal Neural Network - Loss: 0.2874430305957794, Accuracy: 0.8810000419616699

In [15]:
encoded_predictions = model.predict_classes(X_test_scaled[:10])
prediction_labels = label_encoder.inverse_transform(encoded_predictions)

In [16]:
print(f"Predicted classes: {prediction_labels}")
print(f"Actual Labels: {list(y_test[:10])}")

Predicted classes: ['walk' 'sit' 'walk' 'bike' 'sit' 'walk' 'stairsdown' 'stairsup'
 'stairsdown' 'sit']
Actual Labels: ['walk', 'sit', 'walk', 'bike', 'stairsup', 'walk', 'bike', 'stairsdown', 'walk', 'sit']