In [1]:
import pandas as pd
import numpy as np

In [3]:
filen = "../Phones_accelerometer.csv"
df1 = pd.read_csv(filen)
df1.head()

,Index,Arrival_Time,Creation_Time,x,y,z,User,Model,Device,gt
0,0,1424696633908,1424696631913248572,-5.958191,0.688065,8.135345,a,nexus4,nexus4_1,stand
1,1,1424696633909,1424696631918283972,-5.952240,0.670212,8.136536,a,nexus4,nexus4_1,stand
2,2,1424696633918,1424696631923288855,-5.995087,0.653549,8.204376,a,nexus4,nexus4_1,stand
3,3,1424696633919,1424696631928385290,-5.942718,0.676163,8.128204,a,nexus4,nexus4_1,stand
4,4,1424696633929,1424696631933420691,-5.991516,0.641647,8.135345,a,nexus4,nexus4_1,stand

In [4]:
filen1 = "../Phones_gyroscope.csv"
df2 = pd.read_csv(filen1)
df2.head()

,Index,Arrival_Time,Creation_Time,x,y,z,User,Model,Device,gt
0,0,1424696633909,1424696631914042029,0.013748,-0.000626,-0.023376,a,nexus4,nexus4_1,stand
1,1,1424696633909,1424696631919046912,0.014816,-0.001694,-0.022308,a,nexus4,nexus4_1,stand
2,2,1424696633918,1424696631924051794,0.015884,-0.001694,-0.021240,a,nexus4,nexus4_1,stand
3,3,1424696633919,1424696631929117712,0.016953,-0.003830,-0.020172,a,nexus4,nexus4_1,stand
4,4,1424696633928,1424696631934214148,0.015884,-0.007034,-0.020172,a,nexus4,nexus4_1,stand

In [5]:
df1.append(df2)
df1.head()

,Index,Arrival_Time,Creation_Time,x,y,z,User,Model,Device,gt
0,0,1424696633908,1424696631913248572,-5.958191,0.688065,8.135345,a,nexus4,nexus4_1,stand
1,1,1424696633909,1424696631918283972,-5.952240,0.670212,8.136536,a,nexus4,nexus4_1,stand
2,2,1424696633918,1424696631923288855,-5.995087,0.653549,8.204376,a,nexus4,nexus4_1,stand
3,3,1424696633919,1424696631928385290,-5.942718,0.676163,8.128204,a,nexus4,nexus4_1,stand
4,4,1424696633929,1424696631933420691,-5.991516,0.641647,8.135345,a,nexus4,nexus4_1,stand

In [6]:
df1.count()

Index            13062475
Arrival_Time     13062475
Creation_Time    13062475
x                13062475
y                13062475
z                13062475
User             13062475
Model            13062475
Device           13062475
gt               11279275
dtype: int64

In [7]:
df1['gt'].unique()

array(['stand', nan, 'sit', 'walk', 'stairsup', 'stairsdown', 'bike'],
      dtype=object)

In [8]:
to_stay = ['stand','sit', 'walk', 'stairsup', 'stairsdown', 'bike']
df = df1[df1['gt'].isin(to_stay)]
df.dropna()
df.head()

,Index,Arrival_Time,Creation_Time,x,y,z,User,Model,Device,gt
0,0,1424696633908,1424696631913248572,-5.958191,0.688065,8.135345,a,nexus4,nexus4_1,stand
1,1,1424696633909,1424696631918283972,-5.952240,0.670212,8.136536,a,nexus4,nexus4_1,stand
2,2,1424696633918,1424696631923288855,-5.995087,0.653549,8.204376,a,nexus4,nexus4_1,stand
3,3,1424696633919,1424696631928385290,-5.942718,0.676163,8.128204,a,nexus4,nexus4_1,stand
4,4,1424696633929,1424696631933420691,-5.991516,0.641647,8.135345,a,nexus4,nexus4_1,stand

In [9]:
df.count()

Index            11279275
Arrival_Time     11279275
Creation_Time    11279275
x                11279275
y                11279275
z                11279275
User             11279275
Model            11279275
Device           11279275
gt               11279275
dtype: int64

In [10]:
df['gt'].unique()

array(['stand', 'sit', 'walk', 'stairsup', 'stairsdown', 'bike'],
      dtype=object)

In [11]:
y = df["gt"]
y

0           stand
1           stand
2           stand
3           stand
4           stand
5           stand
6           stand
7           stand
8           stand
9           stand
10          stand
11          stand
12          stand
13          stand
14          stand
15          stand
16          stand
17          stand
18          stand
19          stand
20          stand
21          stand
22          stand
23          stand
24          stand
25          stand
26          stand
27          stand
28          stand
29          stand
            ...
13062445     bike
13062446     bike
13062447     bike
13062448     bike
13062449     bike
13062450     bike
13062451     bike
13062452     bike
13062453     bike
13062454     bike
13062455     bike
13062456     bike
13062457     bike
13062458     bike
13062459     bike
13062460     bike
13062461     bike
13062462     bike
13062463     bike
13062464     bike
13062465     bike
13062466     bike
13062467     bike
13062468     bike
13062469     bike
13062470     bike
13062471     bike
13062472     bike
13062473     bike
13062474     bike
Name: gt, Length: 11279275, dtype: object

In [12]:
X = df.iloc[:,3:6]
X.head()

          x         y         z
0 -5.958191  0.688065  8.135345
1 -5.952240  0.670212  8.136536
2 -5.995087  0.653549  8.204376
3 -5.942718  0.676163  8.128204
4 -5.991516  0.641647  8.135345

In [13]:
print(X.shape, y.shape)

(11279275, 3) (11279275,)

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from keras.utils import to_categorical

Using TensorFlow backend.

In [15]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from keras.utils import to_categorical

X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=1, stratify=y)
X_scaler = StandardScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)


# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

# Step 2: Convert encoded labels to one-hot-encoding
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

In [16]:
#Saving the X_scaler
from sklearn.externals.joblib import dump, load
dump(X_scaler, 'HAPNN_scaler.bin', compress=True)

['HAPNN_scaler.bin']

In [17]:
#Saving label encoder
dump(label_encoder, 'HAPNN_label_encoder.bin', compress=True)

['HAPNN_label_encoder.bin']

In [18]:
from keras.models import Sequential
from keras.layers import Dense

# Create model and add layers
model = Sequential()
model.add(Dense(units=100, activation='relu', input_dim=3))
model.add(Dense(units=100, activation='relu'))
model.add(Dense(units=6, activation='softmax'))

In [ ]:
# Compile and fit the model
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=40,
    shuffle=True,
    verbose=2
)

WARNING:tensorflow:From C:\Users\asi40\.conda\envs\PythonData\lib\site-packages\keras\backend\tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

Epoch 1/40

In [ ]:
model_loss, model_accuracy = model.evaluate(X_test_scaled, y_test_categorical, verbose=2)
print(f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
encoded_predictions = model.predict_classes(X_test_scaled[:5])
prediction_labels = label_encoder.inverse_transform(encoded_predictions)

In [ ]:
print(f"Predicted classes: {prediction_labels}")
print(f"Actual Labels: {list(y_test[:5])}")

In [65]:
# Save the model
model.save("HAP_NN_model.h5")