In [1]:
import pandas as pd
import numpy as np

In [2]:
filen = "../Watch_accelerometer.csv"
df1 = pd.read_csv(filen)
df1.head()

,Index,Arrival_Time,Creation_Time,x,y,z,User,Model,Device,gt
0,0,1424696638740,27920678471000,-0.565032,-9.572019,-0.614113,a,gear,gear_1,stand
1,1,1424696638740,27920681910000,-0.832584,-9.713276,-0.606930,a,gear,gear_1,stand
2,2,1424696638740,27920692014000,-1.018134,-9.935339,-0.544082,a,gear,gear_1,stand
3,3,1424696638741,27920701983000,-1.222838,-10.142437,-0.566229,a,gear,gear_1,stand
4,4,1424696638741,27920711906000,-1.577180,-10.480618,-0.402824,a,gear,gear_1,stand

In [3]:
filen1 = "../Watch_gyroscope.csv"
df2 = pd.read_csv(filen1)
df2.head()

,Index,Arrival_Time,Creation_Time,x,y,z,User,Model,Device,gt
0,0,1424696638743,27920678496000,-0.162187,-0.022104,0.059655,a,gear,gear_1,stand
1,1,1424696638743,27920681926000,-0.183225,-0.061785,0.012517,a,gear,gear_1,stand
2,2,1424696638743,27920692031000,-0.180829,-0.108657,-0.036485,a,gear,gear_1,stand
3,3,1424696638743,27920701997000,-0.147805,-0.157925,-0.098537,a,gear,gear_1,stand
4,7,1424696638744,27920743068000,0.182160,-0.323574,-0.277235,a,gear,gear_1,stand

In [4]:
df1.append(df2)
df1.head()

,Index,Arrival_Time,Creation_Time,x,y,z,User,Model,Device,gt
0,0,1424696638740,27920678471000,-0.565032,-9.572019,-0.614113,a,gear,gear_1,stand
1,1,1424696638740,27920681910000,-0.832584,-9.713276,-0.606930,a,gear,gear_1,stand
2,2,1424696638740,27920692014000,-1.018134,-9.935339,-0.544082,a,gear,gear_1,stand
3,3,1424696638741,27920701983000,-1.222838,-10.142437,-0.566229,a,gear,gear_1,stand
4,4,1424696638741,27920711906000,-1.577180,-10.480618,-0.402824,a,gear,gear_1,stand

In [5]:
df1.count()

Index            3540962
Arrival_Time     3540962
Creation_Time    3540962
x                3540962
y                3540962
z                3540962
User             3540962
Model            3540962
Device           3540962
gt               3020605
dtype: int64

In [6]:
df1['gt'].unique()

array(['stand', nan, 'sit', 'walk', 'stairsup', 'stairsdown', 'bike'],
      dtype=object)

In [7]:
to_stay = ['stand','sit', 'walk', 'stairsup', 'stairsdown', 'bike']
df = df1[df1['gt'].isin(to_stay)]
df.dropna()
df.head()

,Index,Arrival_Time,Creation_Time,x,y,z,User,Model,Device,gt
0,0,1424696638740,27920678471000,-0.565032,-9.572019,-0.614113,a,gear,gear_1,stand
1,1,1424696638740,27920681910000,-0.832584,-9.713276,-0.606930,a,gear,gear_1,stand
2,2,1424696638740,27920692014000,-1.018134,-9.935339,-0.544082,a,gear,gear_1,stand
3,3,1424696638741,27920701983000,-1.222838,-10.142437,-0.566229,a,gear,gear_1,stand
4,4,1424696638741,27920711906000,-1.577180,-10.480618,-0.402824,a,gear,gear_1,stand

In [8]:
df.count()

Index            3020605
Arrival_Time     3020605
Creation_Time    3020605
x                3020605
y                3020605
z                3020605
User             3020605
Model            3020605
Device           3020605
gt               3020605
dtype: int64

In [9]:
df['gt'].unique()

array(['stand', 'sit', 'walk', 'stairsup', 'stairsdown', 'bike'],
      dtype=object)

In [10]:
y = df["gt"]
y

0          stand
1          stand
2          stand
3          stand
4          stand
5          stand
6          stand
7          stand
8          stand
9          stand
10         stand
11         stand
12         stand
13         stand
14         stand
15         stand
16         stand
17         stand
18         stand
19         stand
20         stand
21         stand
22         stand
23         stand
24         stand
25         stand
26         stand
27         stand
28         stand
29         stand
           ...
3540932     bike
3540933     bike
3540934     bike
3540935     bike
3540936     bike
3540937     bike
3540938     bike
3540939     bike
3540940     bike
3540941     bike
3540942     bike
3540943     bike
3540944     bike
3540945     bike
3540946     bike
3540947     bike
3540948     bike
3540949     bike
3540950     bike
3540951     bike
3540952     bike
3540953     bike
3540954     bike
3540955     bike
3540956     bike
3540957     bike
3540958     bike
3540959     bike
3540960     bike
3540961     bike
Name: gt, Length: 3020605, dtype: object

In [11]:
X = df.iloc[:,3:6]
X.head()

          x          y         z
0 -0.565032  -9.572019 -0.614113
1 -0.832584  -9.713276 -0.606930
2 -1.018134  -9.935339 -0.544082
3 -1.222838 -10.142437 -0.566229
4 -1.577180 -10.480618 -0.402824

In [12]:
print(X.shape, y.shape)

(3020605, 3) (3020605,)

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from keras.utils import to_categorical

Using TensorFlow backend.

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from keras.utils import to_categorical

X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=1, stratify=y)
X_scaler = StandardScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)


# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

# Step 2: Convert encoded labels to one-hot-encoding
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

In [15]:
#Saving the X_scaler
from sklearn.externals.joblib import dump, load
dump(X_scaler, 'HAWNN_scaler.bin', compress=True)

['HAWNN_scaler.bin']

In [16]:
#Saving label encoder
dump(label_encoder, 'HAWNN_label_encoder.bin', compress=True)

['HAWNN_label_encoder.bin']

In [17]:
from keras.models import Sequential
from keras.layers import Dense

# Create model and add layers
model = Sequential()
model.add(Dense(units=100, activation='relu', input_dim=3))
model.add(Dense(units=100, activation='relu'))
model.add(Dense(units=6, activation='softmax'))

In [18]:
# Compile and fit the model
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=10,
    shuffle=True,
    verbose=2
)

WARNING:tensorflow:From C:\Users\asi40\.conda\envs\PythonData\lib\site-packages\keras\backend\tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

Epoch 1/10
 - 101s - loss: 0.8771 - accuracy: 0.6530
Epoch 2/10
 - 98s - loss: 0.8147 - accuracy: 0.6741
Epoch 3/10
 - 91s - loss: 0.8015 - accuracy: 0.6783
Epoch 4/10
 - 98s - loss: 0.7948 - accuracy: 0.6803
Epoch 5/10
 - 93s - loss: 0.7910 - accuracy: 0.6816
Epoch 6/10
 - 92s - loss: 0.7877 - accuracy: 0.6828
Epoch 7/10
 - 94s - loss: 0.7854 - accuracy: 0.6836
Epoch 8/10
 - 107s - loss: 0.7836 - accuracy: 0.6842
Epoch 9/10
 - 107s - loss: 0.7821 - accuracy: 0.6847
Epoch 10/10
 - 105s - loss: 0.7812 - accuracy: 0.6849

In [19]:
model_loss, model_accuracy = model.evaluate(X_test_scaled, y_test_categorical, verbose=2)
print(f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

Normal Neural Network - Loss: 0.7756899166825004, Accuracy: 0.686039388179779

In [23]:
import random

In [42]:
n = random.randint(0,1000)
print (n)

976

In [43]:
t = X_test_scaled[n-1:n]
t

array([[ 0.38115178, -0.4168299 ,  0.02656187]])

In [44]:
l = y_test[n-1:n]
l

3116869    stairsdown
Name: gt, dtype: object

In [45]:
#encoded_predictions = model.predict_classes(X_test_scaled[:5])
encoded_predictions = model.predict_classes(t)
prediction_labels = label_encoder.inverse_transform(encoded_predictions)

In [46]:
print(f"Predicted classes: {prediction_labels}")
#print(f"Actual Labels: {list(y_test[:5])}")
print(f"Actual Labels: {list(l)}")

Predicted classes: ['bike']
Actual Labels: ['stairsdown']

In [71]:
z = list(X_test.iloc[n-1:n,:].values[0])
z

[2.5694275, -4.447159, 2.1671142999999997]

In [57]:
# Save the model
model.save("HAW_NN_model.h5")