In [1]:
import pandas as pd

In [2]:
filen = "../data/alcoholism_eeg.csv"
df = pd.read_csv(filen)
df.head()

,Unnamed: 0,trial,subject,FP1,FP2,F7,F8,AF1,AF2,FZ,...,PO7,PO8,FCZ,POZ,OZ,P2,P1,CPZ,nd,Y
0,0,0,co2a0000364,-8.921,0.834,-19.847,8.148,-2.146,1.129,-0.071,...,3.906,5.157,1.048,-6.266,-9.033,-2.421,-4.313,-0.478,-8.901,-5.636
1,1,0,co2a0000364,-8.433,3.276,-12.522,1.801,-2.146,0.641,-0.559,...,10.254,7.111,0.559,-8.708,-12.451,-3.886,-5.290,-0.966,-7.924,-2.706
2,2,0,co2a0000364,-2.574,5.717,1.149,-2.594,-1.658,-0.336,-1.048,...,1.465,-2.655,0.559,-9.196,-11.963,-4.862,-5.290,-0.966,-3.042,1.689
3,3,0,co2a0000364,5.239,7.670,14.821,-4.547,-0.682,-0.824,-0.559,...,5.371,-7.050,0.559,-6.755,-8.545,-3.886,-4.313,-0.966,4.771,5.595
4,4,0,co2a0000364,11.587,9.623,20.681,-5.035,2.248,0.641,0.905,...,-12.207,-4.120,1.048,-3.337,-3.662,-1.933,-2.360,-0.478,11.607,9.013

In [3]:
y1 = df["subject"]
y2 = []
for s in y1:
    if 'a' in s:
        y2.append("alcoholic")
    else:
        y2.append("control")

y4 = pd.DataFrame({"label":y2})
y = y4["label"]
y

0          alcoholic
1          alcoholic
2          alcoholic
3          alcoholic
4          alcoholic
5          alcoholic
6          alcoholic
7          alcoholic
8          alcoholic
9          alcoholic
10         alcoholic
11         alcoholic
12         alcoholic
13         alcoholic
14         alcoholic
15         alcoholic
16         alcoholic
17         alcoholic
18         alcoholic
19         alcoholic
20         alcoholic
21         alcoholic
22         alcoholic
23         alcoholic
24         alcoholic
25         alcoholic
26         alcoholic
27         alcoholic
28         alcoholic
29         alcoholic
             ...
2830562      control
2830563      control
2830564      control
2830565      control
2830566      control
2830567      control
2830568      control
2830569      control
2830570      control
2830571      control
2830572      control
2830573      control
2830574      control
2830575      control
2830576      control
2830577      control
2830578      control
2830579      control
2830580      control
2830581      control
2830582      control
2830583      control
2830584      control
2830585      control
2830586      control
2830587      control
2830588      control
2830589      control
2830590      control
2830591      control
Name: label, Length: 2830592, dtype: object

In [4]:
X = df.iloc[:,3:]
X.head()

,FP1,FP2,F7,F8,AF1,AF2,FZ,F4,F3,FC6,...,PO7,PO8,FCZ,POZ,OZ,P2,P1,CPZ,nd,Y
0,-8.921,0.834,-19.847,8.148,-2.146,1.129,-0.071,3.408,-0.092,4.832,...,3.906,5.157,1.048,-6.266,-9.033,-2.421,-4.313,-0.478,-8.901,-5.636
1,-8.433,3.276,-12.522,1.801,-2.146,0.641,-0.559,1.455,0.397,6.297,...,10.254,7.111,0.559,-8.708,-12.451,-3.886,-5.290,-0.966,-7.924,-2.706
2,-2.574,5.717,1.149,-2.594,-1.658,-0.336,-1.048,0.478,-1.068,5.809,...,1.465,-2.655,0.559,-9.196,-11.963,-4.862,-5.290,-0.966,-3.042,1.689
3,5.239,7.670,14.821,-4.547,-0.682,-0.824,-0.559,0.966,-3.510,3.367,...,5.371,-7.050,0.559,-6.755,-8.545,-3.886,-4.313,-0.966,4.771,5.595
4,11.587,9.623,20.681,-5.035,2.248,0.641,0.905,1.943,-5.463,1.414,...,-12.207,-4.120,1.048,-3.337,-3.662,-1.933,-2.360,-0.478,11.607,9.013

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from keras.utils import to_categorical

Using TensorFlow backend.

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from keras.utils import to_categorical

X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=1, stratify=y)
X_scaler = StandardScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)


# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

# Step 2: Convert encoded labels to one-hot-encoding
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

In [7]:
#Saving the label_encoder
from sklearn.externals.joblib import dump, load
dump(label_encoder, 'AB_NN_label_encoder.bin', compress=True)

['AB_NN_label_encoder.bin']

In [8]:
y_test_categorical

array([[1., 0.],
       [0., 1.],
       [1., 0.],
       ...,
       [1., 0.],
       [1., 0.],
       [0., 1.]], dtype=float32)

In [9]:
X_train_scaled

array([[ 0.06062647,  0.19750515, -0.68937446, ..., -0.96398877,
         0.17562892, -0.34600266],
       [ 0.33854902,  0.54276242, -0.29877757, ..., -1.58578933,
        -2.91726875, -0.39551035],
       [ 0.38516171,  1.68492166, -1.47366455, ..., -1.52908727,
        -1.39377326, -1.26620607],
       ...,
       [ 0.70511488,  0.58742506,  0.60913187, ..., -0.06060001,
         0.76820206,  0.80692864],
       [-0.57350986, -0.68753026, -0.82870748, ...,  0.49258144,
        -0.63723714, -0.65299208],
       [-0.01477975, -0.14643483,  0.55711421, ...,  0.85835779,
        -0.25150277,  0.46107011]])

In [12]:
X_test.head()

,FP1,FP2,F7,F8,AF1,AF2,FZ,F4,F3,FC6,...,PO7,PO8,FCZ,POZ,OZ,P2,P1,CPZ,nd,Y
151074,-42.582,-3.662,5.910,5.697,8.382,7.619,6.877,6.409,9.013,5.056,...,-2.472,3.174,3.611,0.397,1.007,1.587,-2.299,-1.780,3.560,8.759
2115630,11.587,5.473,15.188,11.983,13.550,6.907,5.229,0.122,5.615,2.543,...,4.415,4.700,3.347,6.460,5.585,4.506,0.254,-0.214,17.385,18.473
604605,-5.554,-8.077,-1.465,-2.136,-7.853,-6.989,-5.717,1.088,-5.656,-1.027,...,-1.017,-8.321,-1.221,-14.781,-14.191,-11.597,-7.935,-3.001,-8.006,-4.262
805772,-3.296,-0.214,-0.326,5.910,-6.500,-2.736,-7.355,-6.480,-6.317,-0.783,...,12.349,18.545,-5.086,8.565,10.010,8.097,8.596,6.053,8.474,8.341
1490280,-4.547,-3.174,-1.261,-6.042,-5.778,-4.639,-9.084,-3.082,-6.856,-1.170,...,0.661,-11.902,-6.999,8.667,2.665,11.709,9.511,6.958,3.855,4.659

In [15]:
X_test["Status"] = y_test
X_test.head()

C:\Users\asi40\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,FP1,FP2,F7,F8,AF1,AF2,FZ,F4,F3,FC6,...,PO8,FCZ,POZ,OZ,P2,P1,CPZ,nd,Y,Status
151074,-42.582,-3.662,5.910,5.697,8.382,7.619,6.877,6.409,9.013,5.056,...,3.174,3.611,0.397,1.007,1.587,-2.299,-1.780,3.560,8.759,alcoholic
2115630,11.587,5.473,15.188,11.983,13.550,6.907,5.229,0.122,5.615,2.543,...,4.700,3.347,6.460,5.585,4.506,0.254,-0.214,17.385,18.473,control
604605,-5.554,-8.077,-1.465,-2.136,-7.853,-6.989,-5.717,1.088,-5.656,-1.027,...,-8.321,-1.221,-14.781,-14.191,-11.597,-7.935,-3.001,-8.006,-4.262,alcoholic
805772,-3.296,-0.214,-0.326,5.910,-6.500,-2.736,-7.355,-6.480,-6.317,-0.783,...,18.545,-5.086,8.565,10.010,8.097,8.596,6.053,8.474,8.341,alcoholic
1490280,-4.547,-3.174,-1.261,-6.042,-5.778,-4.639,-9.084,-3.082,-6.856,-1.170,...,-11.902,-6.999,8.667,2.665,11.709,9.511,6.958,3.855,4.659,alcoholic

In [14]:
X_test.to_csv("Alc_test.csv", encoding='utf-8')

In [16]:
X_train["Status"] = y_train
X_train.head()

C:\Users\asi40\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,FP1,FP2,F7,F8,AF1,AF2,FZ,F4,F3,FC6,...,PO8,FCZ,POZ,OZ,P2,P1,CPZ,nd,Y,Status
1663690,0.285,2.553,-10.427,5.707,4.618,7.619,5.605,6.978,-2.482,4.191,...,-22.044,1.333,-11.709,-11.078,-7.304,-10.773,-4.842,0.376,-7.477,control
592369,5.198,8.057,-5.381,-5.208,7.823,5.361,7.090,4.110,3.916,-4.679,...,-54.515,3.703,-38.045,-61.839,-20.986,-20.518,-8.077,-41.463,-8.189,alcoholic
2701549,6.022,26.265,-20.559,-6.755,-4.608,7.406,2.675,3.235,-8.219,-5.798,...,-18.687,3.367,-34.241,-19.155,-22.644,-12.950,-7.782,-20.854,-20.711,alcoholic
1797964,-9.389,-10.630,-6.694,-12.065,-11.353,-14.821,-12.044,-14.496,-9.501,-12.756,...,-5.463,-7.721,-2.563,-5.422,-2.157,-3.662,-1.709,-8.881,-4.578,control
1298383,14.648,17.904,4.537,21.261,7.538,11.210,3.855,9.603,0.875,8.413,...,-1.322,2.024,-1.750,-0.234,-1.709,-0.356,-0.142,19.368,19.368,alcoholic

In [17]:
X_train.to_csv("Alc_train.csv", encoding='utf-8')

In [19]:
from keras.models import Sequential
from keras.layers import Dense

# Create model and add layers
model = Sequential()
model.add(Dense(units=100, activation='relu', input_dim=64))
model.add(Dense(units=100, activation='relu'))
model.add(Dense(units=2, activation='softmax'))

In [20]:
# Compile and fit the model
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=60,
    shuffle=True,
    verbose=2
)

WARNING:tensorflow:From C:\Users\asi40\.conda\envs\PythonData\lib\site-packages\keras\backend\tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

Epoch 1/60
 - 112s - loss: 0.4219 - accuracy: 0.8006
Epoch 2/60
 - 81s - loss: 0.3363 - accuracy: 0.8497
Epoch 3/60
 - 81s - loss: 0.3056 - accuracy: 0.8657
Epoch 4/60
 - 82s - loss: 0.2874 - accuracy: 0.8751
Epoch 5/60
 - 82s - loss: 0.2740 - accuracy: 0.8820
Epoch 6/60
 - 82s - loss: 0.2642 - accuracy: 0.8866
Epoch 7/60
 - 92s - loss: 0.2564 - accuracy: 0.8907
Epoch 8/60
 - 81s - loss: 0.2502 - accuracy: 0.8937
Epoch 9/60
 - 82s - loss: 0.2442 - accuracy: 0.8967
Epoch 10/60
 - 82s - loss: 0.2393 - accuracy: 0.8989
Epoch 11/60
 - 83s - loss: 0.2348 - accuracy: 0.9013
Epoch 12/60
 - 84s - loss: 0.2305 - accuracy: 0.9032
Epoch 13/60
 - 87s - loss: 0.2269 - accuracy: 0.9051
Epoch 14/60
 - 85s - loss: 0.2235 - accuracy: 0.9068
Epoch 15/60
 - 86s - loss: 0.2210 - accuracy: 0.9081
Epoch 16/60
 - 87s - loss: 0.2178 - accuracy: 0.9095
Epoch 17/60
 - 93s - loss: 0.2155 - accuracy: 0.9107
Epoch 18/60
 - 90s - loss: 0.2136 - accuracy: 0.9116
Epoch 19/60
 - 88s - loss: 0.2115 - accuracy: 0.9126
Epoch 20/60
 - 89s - loss: 0.2099 - accuracy: 0.9133
Epoch 21/60
 - 90s - loss: 0.2083 - accuracy: 0.9140
Epoch 22/60
 - 91s - loss: 0.2068 - accuracy: 0.9149
Epoch 23/60
 - 91s - loss: 0.2052 - accuracy: 0.9156
Epoch 24/60
 - 95s - loss: 0.2040 - accuracy: 0.9161
Epoch 25/60
 - 94s - loss: 0.2030 - accuracy: 0.9166
Epoch 26/60
 - 95s - loss: 0.2018 - accuracy: 0.9172
Epoch 27/60
 - 96s - loss: 0.2009 - accuracy: 0.9176
Epoch 28/60
 - 98s - loss: 0.1998 - accuracy: 0.9183
Epoch 29/60
 - 97s - loss: 0.1990 - accuracy: 0.9184
Epoch 30/60
 - 96s - loss: 0.1980 - accuracy: 0.9190
Epoch 31/60
 - 96s - loss: 0.1971 - accuracy: 0.9196
Epoch 32/60
 - 95s - loss: 0.1963 - accuracy: 0.9200
Epoch 33/60
 - 96s - loss: 0.1956 - accuracy: 0.9201
Epoch 34/60
 - 100s - loss: 0.1948 - accuracy: 0.9203
Epoch 35/60
 - 95s - loss: 0.1941 - accuracy: 0.9211
Epoch 36/60
 - 96s - loss: 0.1931 - accuracy: 0.9212
Epoch 37/60
 - 106s - loss: 0.1925 - accuracy: 0.9217
Epoch 38/60
 - 130s - loss: 0.1918 - accuracy: 0.9220
Epoch 39/60
 - 99s - loss: 0.1913 - accuracy: 0.9223
Epoch 40/60
 - 98s - loss: 0.1904 - accuracy: 0.9227
Epoch 41/60
 - 99s - loss: 0.1897 - accuracy: 0.9231
Epoch 42/60
 - 98s - loss: 0.1890 - accuracy: 0.9233
Epoch 43/60
 - 97s - loss: 0.1882 - accuracy: 0.9238
Epoch 44/60
 - 96s - loss: 0.1877 - accuracy: 0.9239
Epoch 45/60
 - 105s - loss: 0.1872 - accuracy: 0.9244
Epoch 46/60
 - 114s - loss: 0.1864 - accuracy: 0.9247
Epoch 47/60
 - 99s - loss: 0.1858 - accuracy: 0.9250
Epoch 48/60
 - 97s - loss: 0.1852 - accuracy: 0.9253
Epoch 49/60
 - 98s - loss: 0.1848 - accuracy: 0.9255
Epoch 50/60
 - 100s - loss: 0.1842 - accuracy: 0.9257
Epoch 51/60
 - 98s - loss: 0.1836 - accuracy: 0.9259
Epoch 52/60
 - 100s - loss: 0.1829 - accuracy: 0.9264
Epoch 53/60
 - 99s - loss: 0.1824 - accuracy: 0.9267
Epoch 54/60
 - 97s - loss: 0.1818 - accuracy: 0.9270
Epoch 55/60
 - 96s - loss: 0.1813 - accuracy: 0.9272
Epoch 56/60
 - 97s - loss: 0.1806 - accuracy: 0.9273
Epoch 57/60
 - 98s - loss: 0.1804 - accuracy: 0.9274
Epoch 58/60
 - 99s - loss: 0.1799 - accuracy: 0.9278
 - 98s - loss: 0.1791 - accuracy: 0.9283
Epoch 60/60
 - 97s - loss: 0.1789 - accuracy: 0.9283

In [21]:
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(
    f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

Normal Neural Network - Loss: 0.18364687067484087, Accuracy: 0.9269834756851196

In [22]:
encoded_predictions = model.predict_classes(X_test_scaled[:5])
prediction_labels = label_encoder.inverse_transform(encoded_predictions)

In [23]:
print(f"Predicted classes: {prediction_labels}")
print(f"Actual Labels: {list(y_test[:5])}")

Predicted classes: ['alcoholic' 'control' 'alcoholic' 'alcoholic' 'alcoholic']
Actual Labels: ['alcoholic', 'control', 'alcoholic', 'alcoholic', 'alcoholic']

In [24]:
# Save the model
model.save("ALC_NN_FDF1.h5")

In [19]:
# 1D Convolutional Neural Networks in Keras for Time Sequences

from keras.layers import Reshape
from keras.layers import Conv1D
from keras.layers import MaxPooling1D
from keras.layers import GlobalAveragePooling1D
from keras.layers import Dropout

TIME_PERIODS = 1
num_sensors = 64
input_shape = 64
num_classes = 2

In [20]:

model_m = Sequential()
model_m.add(Reshape((TIME_PERIODS, num_sensors), input_shape=(input_shape,)))
model_m.add(Conv1D(100, 1, activation='relu', input_shape=(TIME_PERIODS, num_sensors)))
model_m.add(Conv1D(100, 1, activation='relu'))
model_m.add(MaxPooling1D(1))
model_m.add(Conv1D(160, 1, activation='relu'))
model_m.add(Conv1D(160, 1, activation='relu'))
model_m.add(GlobalAveragePooling1D())
model_m.add(Dropout(0.5))
model_m.add(Dense(num_classes, activation='softmax'))
print(model_m.summary())

WARNING:tensorflow:From C:\Users\asi40\.conda\envs\PythonData\lib\site-packages\keras\backend\tensorflow_backend.py:4070: The name tf.nn.max_pool is deprecated. Please use tf.nn.max_pool2d instead.

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
reshape_1 (Reshape)          (None, 1, 64)             0
_________________________________________________________________
conv1d_1 (Conv1D)            (None, 1, 100)            6500
_________________________________________________________________
conv1d_2 (Conv1D)            (None, 1, 100)            10100
_________________________________________________________________
max_pooling1d_1 (MaxPooling1 (None, 1, 100)            0
_________________________________________________________________
conv1d_3 (Conv1D)            (None, 1, 160)            16160
_________________________________________________________________
conv1d_4 (Conv1D)            (None, 1, 160)            25760
_________________________________________________________________
global_average_pooling1d_1 ( (None, 160)               0
_________________________________________________________________
dropout_1 (Dropout)          (None, 160)               0
_________________________________________________________________
dense_4 (Dense)              (None, 2)                 322
=================================================================
Total params: 58,842
Trainable params: 58,842
Non-trainable params: 0
_________________________________________________________________
None

In [21]:
import keras

In [22]:

callbacks_list = [keras.callbacks.ModelCheckpoint(filepath='best_model.{epoch:02d}-{val_loss:.2f}.h5',
                                                  monitor='val_loss', save_best_only=True),
                  keras.callbacks.EarlyStopping(monitor='acc', patience=1)]

model_m.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

BATCH_SIZE = 400
EPOCHS = 50

history = model_m.fit(X_train_scaled,
                      y_train_categorical,
                      batch_size=BATCH_SIZE,
                      epochs=EPOCHS,
                      callbacks=callbacks_list,
                      validation_split=0.2,
                      verbose=1)

Train on 1698355 samples, validate on 424589 samples
Epoch 1/50
1698355/1698355 [==============================] - 95s 56us/step - loss: 0.4488 - accuracy: 0.7841 - val_loss: 0.3793 - val_accuracy: 0.8262
Epoch 2/50
   3200/1698355 [..............................] - ETA: 1:35 - loss: 0.3921 - accuracy: 0.8191

C:\Users\asi40\.conda\envs\PythonData\lib\site-packages\keras\callbacks\callbacks.py:846: RuntimeWarning: Early stopping conditioned on metric `acc` which is not available. Available metrics are: val_loss,val_accuracy,loss,accuracy
  (self.monitor, ','.join(list(logs.keys()))), RuntimeWarning

1698355/1698355 [==============================] - 91s 54us/step - loss: 0.3398 - accuracy: 0.8478 - val_loss: 0.3178 - val_accuracy: 0.8585
Epoch 3/50
1698355/1698355 [==============================] - 113s 66us/step - loss: 0.3003 - accuracy: 0.8683 - val_loss: 0.2861 - val_accuracy: 0.8751
Epoch 4/50
1698355/1698355 [==============================] - 91s 54us/step - loss: 0.2775 - accuracy: 0.8797 - val_loss: 0.2734 - val_accuracy: 0.8814
Epoch 5/50
1698355/1698355 [==============================] - 94s 55us/step - loss: 0.2613 - accuracy: 0.8880 - val_loss: 0.2540 - val_accuracy: 0.8911
Epoch 6/50
1698355/1698355 [==============================] - 92s 54us/step - loss: 0.2479 - accuracy: 0.8946 - val_loss: 0.2503 - val_accuracy: 0.8926
Epoch 7/50
1698355/1698355 [==============================] - 95s 56us/step - loss: 0.2378 - accuracy: 0.8998 - val_loss: 0.2385 - val_accuracy: 0.8983
Epoch 8/50
1698355/1698355 [==============================] - 99s 58us/step - loss: 0.2291 - accuracy: 0.9038 - val_loss: 0.2356 - val_accuracy: 0.8997
Epoch 9/50
1698355/1698355 [==============================] - 94s 55us/step - loss: 0.2212 - accuracy: 0.9078 - val_loss: 0.2234 - val_accuracy: 0.9056
Epoch 10/50
1698355/1698355 [==============================] - 98s 58us/step - loss: 0.2148 - accuracy: 0.9107 - val_loss: 0.2150 - val_accuracy: 0.9097
Epoch 11/50
1698355/1698355 [==============================] - 92s 54us/step - loss: 0.2086 - accuracy: 0.9136 - val_loss: 0.2125 - val_accuracy: 0.9112
Epoch 12/50
1698355/1698355 [==============================] - 90s 53us/step - loss: 0.2029 - accuracy: 0.9162 - val_loss: 0.2064 - val_accuracy: 0.9138
Epoch 13/50
1698355/1698355 [==============================] - 119s 70us/step - loss: 0.1983 - accuracy: 0.9183 - val_loss: 0.2026 - val_accuracy: 0.9163
Epoch 14/50
1698355/1698355 [==============================] - 135s 79us/step - loss: 0.1933 - accuracy: 0.9205 - val_loss: 0.1991 - val_accuracy: 0.9176
Epoch 15/50
1698355/1698355 [==============================] - 127s 75us/step - loss: 0.1898 - accuracy: 0.9223 - val_loss: 0.1995 - val_accuracy: 0.9170
Epoch 16/50
1698355/1698355 [==============================] - 126s 74us/step - loss: 0.1858 - accuracy: 0.9242 - val_loss: 0.1933 - val_accuracy: 0.9208
Epoch 17/50
1698355/1698355 [==============================] - 131s 77us/step - loss: 0.1828 - accuracy: 0.9256 - val_loss: 0.1919 - val_accuracy: 0.9211
Epoch 18/50
1698355/1698355 [==============================] - 124s 73us/step - loss: 0.1793 - accuracy: 0.9269 - val_loss: 0.1887 - val_accuracy: 0.9223
Epoch 19/50
1698355/1698355 [==============================] - 129s 76us/step - loss: 0.1769 - accuracy: 0.9282 - val_loss: 0.1886 - val_accuracy: 0.9229
Epoch 20/50
1698355/1698355 [==============================] - 137s 81us/step - loss: 0.1741 - accuracy: 0.9293 - val_loss: 0.1851 - val_accuracy: 0.9239
Epoch 21/50
1698355/1698355 [==============================] - 106s 62us/step - loss: 0.1716 - accuracy: 0.9306 - val_loss: 0.1821 - val_accuracy: 0.9258
Epoch 22/50
1698355/1698355 [==============================] - 107s 63us/step - loss: 0.1694 - accuracy: 0.9316 - val_loss: 0.1794 - val_accuracy: 0.9267
Epoch 23/50
1698355/1698355 [==============================] - 108s 64us/step - loss: 0.1668 - accuracy: 0.9327 - val_loss: 0.1762 - val_accuracy: 0.9280
Epoch 24/50
1698355/1698355 [==============================] - 109s 64us/step - loss: 0.1652 - accuracy: 0.9336 - val_loss: 0.1742 - val_accuracy: 0.9297
Epoch 25/50
1698355/1698355 [==============================] - 111s 66us/step - loss: 0.1631 - accuracy: 0.9344 - val_loss: 0.1715 - val_accuracy: 0.9302
Epoch 26/50
1698355/1698355 [==============================] - 113s 66us/step - loss: 0.1615 - accuracy: 0.9352 - val_loss: 0.1679 - val_accuracy: 0.9320
Epoch 27/50
1698355/1698355 [==============================] - 116s 68us/step - loss: 0.1599 - accuracy: 0.9358 - val_loss: 0.1724 - val_accuracy: 0.9297
Epoch 28/50
1698355/1698355 [==============================] - 120s 71us/step - loss: 0.1579 - accuracy: 0.9365 - val_loss: 0.1728 - val_accuracy: 0.9304
Epoch 29/50
1698355/1698355 [==============================] - 115s 68us/step - loss: 0.1551 - accuracy: 0.9379 - val_loss: 0.1653 - val_accuracy: 0.9333
Epoch 31/50
1698355/1698355 [==============================] - 138s 81us/step - loss: 0.1539 - accuracy: 0.9384 - val_loss: 0.1654 - val_accuracy: 0.9338
Epoch 32/50
1698355/1698355 [==============================] - 132s 77us/step - loss: 0.1524 - accuracy: 0.9392 - val_loss: 0.1664 - val_accuracy: 0.9334
Epoch 33/50
1698355/1698355 [==============================] - 141s 83us/step - loss: 0.1511 - accuracy: 0.9399 - val_loss: 0.1624 - val_accuracy: 0.9348
Epoch 34/50
1698355/1698355 [==============================] - 132s 78us/step - loss: 0.1499 - accuracy: 0.9402 - val_loss: 0.1594 - val_accuracy: 0.9360
Epoch 35/50
1698355/1698355 [==============================] - 133s 78us/step - loss: 0.1489 - accuracy: 0.9407 - val_loss: 0.1636 - val_accuracy: 0.9340
Epoch 36/50
1698355/1698355 [==============================] - 125s 74us/step - loss: 0.1480 - accuracy: 0.9410 - val_loss: 0.1575 - val_accuracy: 0.9371
Epoch 37/50
1698355/1698355 [==============================] - 150s 88us/step - loss: 0.1466 - accuracy: 0.9417 - val_loss: 0.1612 - val_accuracy: 0.9355
Epoch 38/50
1698355/1698355 [==============================] - 156s 92us/step - loss: 0.1457 - accuracy: 0.9422 - val_loss: 0.1573 - val_accuracy: 0.9375
Epoch 39/50
1698355/1698355 [==============================] - 163s 96us/step - loss: 0.1448 - accuracy: 0.9425 - val_loss: 0.1602 - val_accuracy: 0.9366
Epoch 40/50
1698355/1698355 [==============================] - 166s 98us/step - loss: 0.1437 - accuracy: 0.9430 - val_loss: 0.1554 - val_accuracy: 0.9381
Epoch 41/50
1698355/1698355 [==============================] - 136s 80us/step - loss: 0.1431 - accuracy: 0.9431 - val_loss: 0.1576 - val_accuracy: 0.9376
Epoch 42/50
1698355/1698355 [==============================] - 135s 79us/step - loss: 0.1419 - accuracy: 0.9438 - val_loss: 0.1564 - val_accuracy: 0.9376
Epoch 43/50
1698355/1698355 [==============================] - 131s 77us/step - loss: 0.1414 - accuracy: 0.9440 - val_loss: 0.1568 - val_accuracy: 0.9380
Epoch 44/50
1698355/1698355 [==============================] - 133s 78us/step - loss: 0.1407 - accuracy: 0.9442 - val_loss: 0.1547 - val_accuracy: 0.93920.140
Epoch 45/50
1698355/1698355 [==============================] - 128s 75us/step - loss: 0.1400 - accuracy: 0.9446 - val_loss: 0.1546 - val_accuracy: 0.9387
Epoch 46/50
1698355/1698355 [==============================] - 136s 80us/step - loss: 0.1388 - accuracy: 0.9451 - val_loss: 0.1524 - val_accuracy: 0.9405
Epoch 47/50
1698355/1698355 [==============================] - 138s 82us/step - loss: 0.1381 - accuracy: 0.9455 - val_loss: 0.1539 - val_accuracy: 0.9392
Epoch 48/50
1698355/1698355 [==============================] - 134s 79us/step - loss: 0.1373 - accuracy: 0.9455 - val_loss: 0.1534 - val_accuracy: 0.9396
Epoch 49/50
1698355/1698355 [==============================] - 135s 79us/step - loss: 0.1368 - accuracy: 0.9460 - val_loss: 0.1508 - val_accuracy: 0.9408
Epoch 50/50
1698355/1698355 [==============================] - 128s 75us/step - loss: 0.1361 - accuracy: 0.9462 - val_loss: 0.1530 - val_accuracy: 0.9391

In [23]:
model_loss, model_accuracy = model_m.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(
    f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

Normal Neural Network - Loss: 0.15301213687099802, Accuracy: 0.9393370747566223

In [24]:
# Save the model
model_m.save("ALC_1DCNN_FDF.h5")