In [1]:
import pandas as pd

In [2]:
filen = "../data/alcoholism_eeg.csv"
df = pd.read_csv(filen)
df.head()

,Unnamed: 0,trial,subject,FP1,FP2,F7,F8,AF1,AF2,FZ,...,PO7,PO8,FCZ,POZ,OZ,P2,P1,CPZ,nd,Y
0,0,0,co2a0000364,-8.921,0.834,-19.847,8.148,-2.146,1.129,-0.071,...,3.906,5.157,1.048,-6.266,-9.033,-2.421,-4.313,-0.478,-8.901,-5.636
1,1,0,co2a0000364,-8.433,3.276,-12.522,1.801,-2.146,0.641,-0.559,...,10.254,7.111,0.559,-8.708,-12.451,-3.886,-5.290,-0.966,-7.924,-2.706
2,2,0,co2a0000364,-2.574,5.717,1.149,-2.594,-1.658,-0.336,-1.048,...,1.465,-2.655,0.559,-9.196,-11.963,-4.862,-5.290,-0.966,-3.042,1.689
3,3,0,co2a0000364,5.239,7.670,14.821,-4.547,-0.682,-0.824,-0.559,...,5.371,-7.050,0.559,-6.755,-8.545,-3.886,-4.313,-0.966,4.771,5.595
4,4,0,co2a0000364,11.587,9.623,20.681,-5.035,2.248,0.641,0.905,...,-12.207,-4.120,1.048,-3.337,-3.662,-1.933,-2.360,-0.478,11.607,9.013

In [3]:
y1 = df["subject"]
y2 = []
for s in y1:
    if 'a' in s:
        y2.append(1)
    else:
        y2.append(0)

y4 = pd.DataFrame({"label":y2})
y = y4["label"]
y

0          1
1          1
2          1
3          1
4          1
5          1
6          1
7          1
8          1
9          1
10         1
11         1
12         1
13         1
14         1
15         1
16         1
17         1
18         1
19         1
20         1
21         1
22         1
23         1
24         1
25         1
26         1
27         1
28         1
29         1
          ..
2830562    0
2830563    0
2830564    0
2830565    0
2830566    0
2830567    0
2830568    0
2830569    0
2830570    0
2830571    0
2830572    0
2830573    0
2830574    0
2830575    0
2830576    0
2830577    0
2830578    0
2830579    0
2830580    0
2830581    0
2830582    0
2830583    0
2830584    0
2830585    0
2830586    0
2830587    0
2830588    0
2830589    0
2830590    0
2830591    0
Name: label, Length: 2830592, dtype: int64

In [4]:
X = df.iloc[:,3:]
X.head()

,FP1,FP2,F7,F8,AF1,AF2,FZ,F4,F3,FC6,...,PO7,PO8,FCZ,POZ,OZ,P2,P1,CPZ,nd,Y
0,-8.921,0.834,-19.847,8.148,-2.146,1.129,-0.071,3.408,-0.092,4.832,...,3.906,5.157,1.048,-6.266,-9.033,-2.421,-4.313,-0.478,-8.901,-5.636
1,-8.433,3.276,-12.522,1.801,-2.146,0.641,-0.559,1.455,0.397,6.297,...,10.254,7.111,0.559,-8.708,-12.451,-3.886,-5.290,-0.966,-7.924,-2.706
2,-2.574,5.717,1.149,-2.594,-1.658,-0.336,-1.048,0.478,-1.068,5.809,...,1.465,-2.655,0.559,-9.196,-11.963,-4.862,-5.290,-0.966,-3.042,1.689
3,5.239,7.670,14.821,-4.547,-0.682,-0.824,-0.559,0.966,-3.510,3.367,...,5.371,-7.050,0.559,-6.755,-8.545,-3.886,-4.313,-0.966,4.771,5.595
4,11.587,9.623,20.681,-5.035,2.248,0.641,0.905,1.943,-5.463,1.414,...,-12.207,-4.120,1.048,-3.337,-3.662,-1.933,-2.360,-0.478,11.607,9.013

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler

X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=1, stratify=y)
X_scaler = StandardScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [6]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [7]:
model.fit(X_train_scaled, y_train)

C:\Users\asi40\.conda\envs\PythonData\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [9]:
print(f"Training Data Score: {model.score(X_train_scaled, y_train)}")
print(f"Testing Data Score: {model.score(X_test_scaled, y_test)}")

Training Data Score: 0.641729127098972
Testing Data Score: 0.641738547978656

In [ ]:
#predictions = model.predict(X_test)
#r = pd.DataFrame({"Prediction": predictions, "Actual": y_test})
#r.head()

In [ ]:
#r.count()

In [10]:
#r1 = r[r["Prediction"] == r["Actual"]]
#r1

In [11]:
#LR model without scaled data
model2 = LogisticRegression()
model2.fit(X_train, y_train)

C:\Users\asi40\.conda\envs\PythonData\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [13]:
print(f"Training Data Score: {model2.score(X_train, y_train)}")
print(f"Testing Data Score: {model2.score(X_test, y_test)}")

Training Data Score: 0.6417300691869404
Testing Data Score: 0.641738547978656

In [14]:
# Save the model
import pickle

# save the model to disk
filename = 'Alc_Brain_LR.sav'
pickle.dump(model, open(filename, 'wb'))

In [15]:
#Saving the X_scaler
from sklearn.externals.joblib import dump, load
dump(X_scaler, 'Alc_Brain_LR_scaler.bin', compress=True)

['Alc_Brain_LR_scaler.bin']