In [1]:
#Import Dependencies
import csv, sqlite3
import pandas as pd

In [2]:
#FUNCTION to create a table in a database using data from csvfile
def create_table (database, table, csvfile):
    
    #database = name of database
    #table = name of table in database 
    #csvfile = name of csvfile
    
    # Creates or opens a file called mydb with a SQLite3 DB
    db = sqlite3.connect(database)
    
    # Read csv file into a dataframe
    df = pd.read_csv(csvfile, encoding='utf-8')
    
    #Save dataframe data into a table
    df.to_sql(table, db, if_exists='append')
    #df.to_sql(table, db, if_exists='append')
    
    #Close the database
    db.close()

In [3]:
#DATABASE name
#database = 'data/mydb_project2.sqlite'
database = '../db/project3db.sqlite'

In [4]:
#Create a table (sentiment) in database using data in csv file
csvfile = '../db/Alc_test.csv'
create_table(database, 'Alc_test', csvfile)

C:\Users\asi40\.conda\envs\PythonData\lib\site-packages\pandas\core\generic.py:2531: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype, method=method)

In [5]:
#Create a table (tweets_loc) in database using data in csv file
csvfile = '../db/Alc_train.csv'
create_table(database, 'Alc_train', csvfile)

In [6]:
#Create a table (tweets) in database using data in csv file
csvfile = '../db/HA_test_phone.csv'
create_table(database, 'HA_test_phone', csvfile)

In [8]:
#Create a table (tweets) in database using data in csv file
csvfile = '../db/HA_test_watch.csv'
create_table(database, 'HA_test_watch', csvfile)

In [9]:
#Create a table (tweets) in database using data in csv file
csvfile = '../db/HA_train_phone.csv'
create_table(database, 'HA_train_phone', csvfile)

In [10]:
#Create a table (tweets) in database using data in csv file
csvfile = '../db/HA_train_watch.csv'
create_table(database, 'HA_train_watch', csvfile)

In [11]:
db = sqlite3.connect(database)

In [14]:
cursor = db.cursor()

In [16]:
res = cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
for name in res:
    print (name[0])

Alc_test
Alc_train
HA_test_phone
HA_test_watch
HA_train_phone
HA_train_watch

In [17]:
db.close()