In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("motor_csv")

In [3]:
df_sort = df.sort_values('name').reset_index()

In [4]:
df_sort.head()

,index,Fc5,Fc3,Fc1,Fcz,Fc2,Fc4,Fc6,C5,C3,...,Po3,Poz,Po4,Po8,O1,Oz,O2,Iz,event,name
0,4569918,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,T0,S001R01
1,4566661,-5.0,-20.0,-26.0,-16.0,-6.0,14.0,54.0,-26.0,-18.0,...,-16.0,-30.0,-4.0,-12.0,-39.0,-41.0,-31.0,-35.0,T0,S001R01
2,4566662,33.0,11.0,-6.0,2.0,4.0,19.0,53.0,13.0,10.0,...,12.0,-3.0,1.0,-8.0,-20.0,-34.0,-36.0,-51.0,T0,S001R01
3,4566663,58.0,25.0,8.0,17.0,21.0,37.0,74.0,22.0,25.0,...,4.0,-5.0,-6.0,-11.0,-7.0,-29.0,-36.0,-48.0,T0,S001R01
4,4566664,25.0,-1.0,-7.0,-1.0,6.0,25.0,67.0,-13.0,-2.0,...,-14.0,-26.0,-19.0,-34.0,-17.0,-41.0,-53.0,-49.0,T0,S001R01

In [5]:
df_sort.tail()

,index,Fc5,Fc3,Fc1,Fcz,Fc2,Fc4,Fc6,C5,C3,...,Po3,Poz,Po4,Po8,O1,Oz,O2,Iz,event,name
27813371,26375161,-13.0,-12.0,72.0,45.0,64.0,101.0,16.0,39.0,30.0,...,-49.0,-78.0,-89.0,-83.0,-54.0,-55.0,-50.0,-44.0,T1,S109R14
27813372,26375160,-17.0,-21.0,85.0,39.0,59.0,89.0,12.0,26.0,23.0,...,-43.0,-72.0,-82.0,-78.0,-43.0,-40.0,-43.0,-34.0,T1,S109R14
27813373,26375159,-10.0,-18.0,94.0,33.0,49.0,66.0,17.0,23.0,25.0,...,-37.0,-66.0,-78.0,-72.0,-37.0,-28.0,-33.0,-24.0,T1,S109R14
27813374,26375166,0.0,7.0,123.0,72.0,82.0,60.0,10.0,58.0,67.0,...,-6.0,-33.0,-40.0,-46.0,-23.0,4.0,12.0,2.0,T1,S109R14
27813375,26388283,-3.0,69.0,86.0,21.0,28.0,3.0,-53.0,21.0,61.0,...,70.0,30.0,66.0,30.0,24.0,10.0,19.0,78.0,T2,S109R14

In [6]:
df_filter = df_sort[df_sort['name'].str.contains("R01|R02|R03|R04|R05|R06")==True]

In [7]:
df_filter = df_filter.drop(['index'], axis=1).reset_index()

In [8]:
df_filter.tail()

,index,Fc5,Fc3,Fc1,Fcz,Fc2,Fc4,Fc6,C5,C3,...,Po3,Poz,Po4,Po8,O1,Oz,O2,Iz,event,name
10687067,27655931,5.0,-3.0,65.0,-7.0,48.0,-5.0,22.0,-3.0,16.0,...,-1.0,30.0,-37.0,8.0,27.0,1.0,86.0,-3.0,T0,S109R06
10687068,27655932,14.0,-2.0,43.0,-11.0,49.0,-1.0,30.0,-13.0,12.0,...,-7.0,32.0,-36.0,11.0,29.0,5.0,88.0,2.0,T0,S109R06
10687069,27655933,21.0,7.0,49.0,-8.0,53.0,10.0,37.0,-8.0,15.0,...,-11.0,37.0,-31.0,15.0,25.0,16.0,100.0,5.0,T0,S109R06
10687070,27655934,23.0,12.0,105.0,-1.0,54.0,21.0,32.0,-1.0,36.0,...,3.0,53.0,-13.0,28.0,29.0,28.0,124.0,-6.0,T0,S109R06
10687071,27655935,164.0,-242.0,-239.0,-185.0,-157.0,-61.0,-175.0,-222.0,-213.0,...,-204.0,-43.0,-79.0,-38.0,-98.0,5.0,-69.0,14.0,T0,S109R06

In [9]:
df_filter = df_filter.drop(['index'], axis=1)
df_filter.tail()

,Fc5,Fc3,Fc1,Fcz,Fc2,Fc4,Fc6,C5,C3,C1,...,Po3,Poz,Po4,Po8,O1,Oz,O2,Iz,event,name
10687067,5.0,-3.0,65.0,-7.0,48.0,-5.0,22.0,-3.0,16.0,14.0,...,-1.0,30.0,-37.0,8.0,27.0,1.0,86.0,-3.0,T0,S109R06
10687068,14.0,-2.0,43.0,-11.0,49.0,-1.0,30.0,-13.0,12.0,8.0,...,-7.0,32.0,-36.0,11.0,29.0,5.0,88.0,2.0,T0,S109R06
10687069,21.0,7.0,49.0,-8.0,53.0,10.0,37.0,-8.0,15.0,24.0,...,-11.0,37.0,-31.0,15.0,25.0,16.0,100.0,5.0,T0,S109R06
10687070,23.0,12.0,105.0,-1.0,54.0,21.0,32.0,-1.0,36.0,41.0,...,3.0,53.0,-13.0,28.0,29.0,28.0,124.0,-6.0,T0,S109R06
10687071,164.0,-242.0,-239.0,-185.0,-157.0,-61.0,-175.0,-222.0,-213.0,-258.0,...,-204.0,-43.0,-79.0,-38.0,-98.0,5.0,-69.0,14.0,T0,S109R06

In [10]:
df_filter.to_csv("motor_filter_csv", encoding='utf-8', index=False)

In [ ]:
def classification(run, event):
    
    if run == '01':
        classification = 'BL Eyes Open'
        
    elif run == '02':
        classification = 'BL Eyes Closed'
        
    elif run == '03':
        if event == 'T0':
            classification = 'Rest'
        elif event == 'T1':
            classification = 'Motion Left Fist'
        else: 
            classification = 'Motion Right Fist'
            
    elif run == '04':
        if event == 'T0':
            classification = 'Rest'
        elif event == 'T1':
            classification = 'Imagine Left Fist'
        else:
            classification = 'Imagine Right Fist'
    
    elif run == '05':
        if event == 'T0':
            classification = 'Rest'
        elif event == 'T1':
            classification = 'Motion Both Fist'
        else:
            classification = 'Motion Both Feet'
    
    else:
        if event == 'T0':
            classification = 'Rest'
        elif event == 'T1':
            classification = 'Imagine Both Fist'
        else:
            classification = 'Imagine Both Feet'
            
    return classification

In [ ]:
classification('03', 'T2')

In [ ]:
classification_list = []
for index, row in df_filter.head().iterrows():
    run = row['name'][-2:]
    event = row['event']
    classification_list.append(classification(run, event))